.footer-area{
    background-color: rgb(121, 145, 89);
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}



.footer-buttom{
    background-color: bisque;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    
}